/* smooth scrool */
html {
	scroll-behavior: smooth;
	animation-delay: 5s;
}

/* custom btn */
.btn-c,
.btn-c:focus {
	background-color: #2651A6;
	color: white;
	border: none !important;
	outline: none !important;
	border-radius: 12px!important;

}

.btn-c:hover {
	opacity: 0.9!important;
	color: #000!important;
	background-color: #fff;
	border:1px solid #2651A6!important;
}
.btn-ticket{
	background-color: #2651A6!important;
	border-radius: 12px!important;
	border: none !important;
	outline: none !important;
}
.btn-ticket:hover{
	opacity: 0.9!important;
	color: #000!important;
	background-color: #fff!important;
}


.dropdown-menu{
	background-color: #2651A6;
	border: none;
}
.dropdown-item:hover{
	color: #fff;
	background-color: #2651A6;

}

.form-control, .form-control:focus {
	color: #2651A6 !important;
	background-color: #fff !important;
	border: 1px  dashed #2651A6 !important;
	outline: 0 !important;
	box-shadow: none!important;
}

.Statistics .card .bg-primary{
	background-color: #2651A6!important;
}

.Statistics .card .bg-secondary{
	background-color: #06BFAD!important;
}

.Statistics .card .bg-success{
	background-color: #289672!important;
}

.Statistics .card .bg-danger{
	background-color: #f21170!important;
}

.Statistics .card:hover{
	opacity: 0.8;
	transform: scale(0.9);
	transition: 1.2s;
	transition-delay: 0.2s;
}
